@import url("https://fonts.googleapis.com/css?family=Kaushan+Script|Prompt|Roboto");

html,
body {
  margin: 0;
  padding: 0;
}

.App {
  font-family: "Roboto", sans-serif;
  text-align: center;
  padding-bottom: 36px;
}

.smurfs-list {
  margin: 10px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: left;
}

.smurf {
  width: 15%;
  margin: 10px 32px;
  box-shadow: 0 1px 15px grey;
  padding: 25px 15px;
  line-height: 25px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  font-size: 1rem;
}

.smurf-age,
.smurf-height {
  font-size: 0.8rem;
  text-align: left;
}

.add-smurf-form {
  display: flex;
  flex-flow: column;
  margin: 10px auto;
  width: 30%;
}

.add-smurf-form input {
  margin: 5px 0px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0px 5px grey;
}

.add-smurf-btn {
  margin: auto;
  border: none;
  border-radius: 2px;
  text-transform: uppercase;
  color: #fff;
  background-color: #5cb85c;
  line-height: 25px;
  cursor: pointer;
  width: 50%;
}

.md-button {
  margin: 0 8px;
  border: none;
  border-radius: 2px;
  padding: 0 16px;
  text-transform: uppercase;
  color: #fff;
  background-color: #337ab7;
  line-height: 25px;
  cursor: pointer;
}

.md-button-danger {
  margin: 0 8px;
  border: none;
  border-radius: 2px;
  padding: 0 16px;
  text-transform: uppercase;
  color: #fff;
  background-color: #ff6565;
  line-height: 25px;
  cursor: pointer;
  transition: box-shadow 0.2s;
}

@media (max-width: 1440px) {
  .smurf {
    width: 20%;
  }
}

@media (max-width: 1024px) {
  .smurf {
    width: 25%;
  }
}

@media (max-width: 667px) {
  .smurfs-list {
    margin: auto 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-flow: column;
  }

  .smurf {
    width: 70%;
    margin: 10px auto;
  }

  .add-smurf-form {
    width: 50%;
  }

  .add-smurf-btn {
    width: 70%;
  }
}
